.gunBox{
    min-height: 93vh;
    background-image: url('./images/skinBackground.png');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.gunInfo{
    padding-right: 40px;
    width: 80%;
    min-height: 530px;
    border-radius: 5px;
    margin-top: 13px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 1px 3px hsla(0,0%, 0%, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: #555  5px solid;
    background-repeat: no-repeat;
    background-size:cover;
}

.box{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px rgb(18, 18, 18) solid;
    border-radius: 5px;
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;align-items: center;
    
}
.gunName{
    font-family: 'VALORANT', sans-serif;
    width: 100%;
    color: rgb(1, 1, 1);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align:center;
    margin-bottom: 10px;
}
.gun-name{
    font-size: 60px;
    color: red;
}
.gunDiv{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 90vw;
    margin: 15px;
    cursor: pointer;
}
.gunDiv2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
}

.gunIcon{
    height: 30px;
    border-radius: 2px;
    margin: 20px;
}
.box:hover{
    background-color: #c8c8c8;
}
.gunIconv2{
    height:120px;
    border-radius: 2px;
    margin: 20px;
}
.leftGun{
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn{
    position: relative;
    display: block;
    color: black;
    transform: translate(0%,-50%);
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }
  
.rightGun{
    float: right;
    width: 30%;
}
.stat{
    display: flex;
    align-items: center;
}
h6{
    margin-left: 10px;
}
.gunIcon:hover{
    transform: scale(1.1);
}
.gunIcon:active{
    transform: scale(1);
}

::-webkit-scrollbar-track
{
    border-radius: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	border-radius: 5px;
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #555;
}
@media only screen and (max-width: 1200px){
    .gunIconv2{
        height:80px;
    }
}
@media only screen and (max-width: 1000px){
    .gun-name{
        font-size: 50px;
    }
    .gunName{
        font-size: 40px;
    }
 
    .btn{
        font-size: 10px;
        padding: 10px 40px;
      }
      h5{
          font-size: 15px;
      }
      h6{
        font-size: 14px;
    }
    .leftGun{
        width: 100%;
        clear: both;
    }
    .rightGun{
        width: 100%;
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gunInfo{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px)
{
    .gun-name{
        font-size: 40px;
    }
    .gunIconv2{
        height:70px;

    }
}